<div class="not-found-container">
  <div class="Header">  
    <app-header></app-header>
  </div>
  <div class="NotFoundInfo">
    <div class="ui icon message">
        <i class="search icon"></i>
      <div class="content">
        <div class="header">
          404 Not Found
        </div>
        <p>Like yeah, we were trying to accomplish your task but we literally did not find anything :(</p>
      </div>
    </div>
  </div>
  <div class="Footer">
    <app-footer></app-footer>
  </div>
</div>
