.view-page-container {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr 1fr auto;
  height: 100%;
  width: 100%;
}

.Menu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 7;

  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.SharedProjects {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.Footer {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 7;
  grid-row-end: 8;

  background-color: #26A69A;
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.Header {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;

  background-color: #ffffff;
  color: #262626;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  border-bottom: 1px solid #26A69A;
}

.Tabs {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;

  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.Editor {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 7;

  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.PageLoader {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

.PasswordForm {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
