<div *ngIf="!dataLoaded && !requiresPassword" class="view-page-container">
  <div class="Header">  
    <app-header></app-header>
  </div>
  <div class="Footer">
    <app-footer></app-footer>
  </div>
  <div class="PageLoader">
    <div class="ui segment w-100 h-100">
      <div class="ui active dimmer">
        <div class="ui massive text loader">Loading</div>
      </div>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>

<div *ngIf="requiresPassword" class="view-page-container">
  <div class="Header">  
    <app-header></app-header>
  </div>
  <div class="Footer">
    <app-footer></app-footer>
  </div>
  <div class="PasswordForm">
    <div class="ui attached message">
      <div class="header">
        This project is protected with password
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" class="ui form attached fluid segment">
      <div class="fields w-100">
        <div class="field w-100">
          <label>Password</label>
          <input appAutofocus [(ngModel)]="password" name="password" placeholder="Password" type="password">
        </div>
      </div>
      <div (click)="onSubmit()" class="ui blue submit button w-100">Submit</div>
      <div *ngIf="passwordTries > 0" class="ui negative message">
        <div class="header">
          Invalid password
        </div>
        <p>Sorry, but this password didn't work.</p>
      </div>
    </form>
  </div>
</div>

<div *ngIf="dataLoaded" class="view-page-container">
  <div class="Header">  
    <app-header></app-header>
  </div>
  <div class="Footer">
    <app-footer></app-footer>
  </div>
  <div class="Tabs">
    <app-editor-view-tabs></app-editor-view-tabs>
  </div>
  <div class="Editor">
    <app-view-editor></app-view-editor>
  </div>
  <div class="Menu">
    <app-project-info></app-project-info>
    <app-share></app-share>
  </div>
  <div class="SharedProjects">
    <app-shared-projects></app-shared-projects>
  </div>
</div>
