<div class="ui horizontal divided list">
  <div class="item">
    <div class="content">
      <a routerLink="/"><i class="home icon"></i> Homepage</a>
    </div>
  </div>
  <div class="item">
    <div class="content">
        <a routerLink="/tos"><i class="book icon"></i> Terms of service</a>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a routerLink="/policy"><i class="book icon"></i> Privacy policy</a>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a routerLink="/faq"><i class="question circle icon"></i> FAQ</a>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a routerLink="/contact"><i class="address book icon"></i> Contact</a>
    </div>
  </div>
</div>
