a {
  color: #ffffff;
}

a:hover {
  color: rgb(110, 109, 109);
}

.ui.divided.horizontal.list > .item {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.ui.horizontal.divided.list > .item:first-child {
  border-left: none;
}
