<div class="ui form">
  <div class="fields no-bottom-margin">
    <div class="field">
      <input [(ngModel)]="fileName" (keyup)="onFilenameChange()" type="text">
    </div>

    <div appSelect class="field four wide">
      <div id="syntaxSelector" class="ui fluid search selection dropdown">
        <input type="hidden" name="syntax">
        <i class="dropdown icon"></i>
        <div class="default text">Select syntax</div>
        <div class="menu">
          <div *ngFor="let mode of modes" class="item" attr.data-value="{{mode.name}}">{{mode.name}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
