<div class="ui card">
  <div class="content">
    <div class="header">my code</div>
  </div>
  <div class="content">
    <div class="ui feed">
      <div class="event">
        <div class="content">
          <div class="date">
            Added
          </div>
          <div class="summary">
            2018-01-01 12:30
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="date">
            Expiration
          </div>
          <div class="summary">
            Never
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="date">
            Visibility
          </div>
          <div class="summary">
            Protected with password
          </div>
        </div>
      </div>
    </div>
    <div class="ui green message"><i class="lock icon"></i> Encrypted</div>
  </div>
</div>
