<div class="ui card">
  <div class="content">
    <div class="header">{{ group.title }}</div>
  </div>
  <div class="content">
    <div class="ui feed">
      <div class="event">
        <div class="content">
          <div class="date">
            Created
          </div>
          <div class="summary">
              {{ normalizeDate(group.createdAt)}}
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="date">
            Expiration
          </div>
          <div class="summary">
            {{ group.expirationDatetime ? normalizeDate(group.expirationDatetime) : 'Never' }}
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="date">
            Visibility
          </div>
          <div class="summary">
            {{ group.isPublic ? 'Public' : 'Protected with password' }}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="group.isEncrypted === true" class="ui green message"><i class="lock icon"></i> Encrypted</div>
    <div *ngIf="group.isEncrypted === false" class="ui red message"><i class="lock icon"></i> Not encrypted</div>
  </div>
</div>
