<div class="ui card share-box">
  <div class="content">
    <div class="header">Share</div>
  </div>
  <div class="content">
    <h4 class="ui sub header">via URL</h4>
    <div class="ui form">
      <div class="fields">
        <div class="sixteen wide field disabled">
          <input type="text" value="https://codypaste.io/view/xd?key=abc" disabled="">
          <div class="ui pointing label">
            `Key` value in URL is very important for encrypted projects!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
    <button class="ui button">Copy link</button>
  </div>
</div>
