<div class="ui card share-box">
  <div class="content">
    <div class="header">Share</div>
  </div>
  <div class="content">
    <div class="ui action input w-100">
      <button (click)="copyLink()" class="ui icon button">
        <i class="copy icon"></i>
      </button>
      <input type="text" value={{viewUrl}} disabled="">
    </div>
  </div>
</div>

<div class="ui card share-box">
  <div class="content">
    <button (click)="editProject()" class="fluid ui teal basic icon button">
      <i class="edit icon"></i>  Edit project
    </button>
  </div>
</div>