<div class="new-project-container">
  <div class="Header">
    <app-header></app-header>
  </div>
  <div class="Footer">
    <app-footer></app-footer>
  </div>
  <div class="Menu">
    <app-project-menu></app-project-menu>
    <div class="SharedProjects">
      <app-shared-projects></app-shared-projects>
    </div>
  </div>
  <div class="Tabs">
    <app-editor-tabs></app-editor-tabs>
  </div>
  <div class="EditorMenu">
    <app-editor-menu></app-editor-menu>
  </div>
  <div class="Editor">
    <app-editor></app-editor>
  </div>
</div>
