.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content max-content 1fr 1fr max-content max-content;
  grid-gap: 0px 0px;
  grid-template-areas: "Menu Tabs Tabs Tabs Tabs Tabs Tabs""Menu EditorMenu EditorMenu EditorMenu EditorMenu EditorMenu EditorMenu""Menu Editor Editor Editor Editor Editor Editor""Menu Editor Editor Editor Editor Editor Editor""Menu Editor Editor Editor Editor Editor Editor""Footer Footer Footer Footer Footer Footer Footer";
}

.Footer {
  grid-area: Footer;
  align-self: end;
  padding: 1rem;
  background-color: #303F9F;
  color: #C5CAE9;
}

.Menu {
  grid-area: Menu;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #eee;
}

.Tabs {
  margin-top: 1rem;
  grid-area: Tabs;
  padding-left: 1rem;
  padding-right: 1rem;
}

.EditorMenu {
  margin-top: 1rem;
  grid-area: EditorMenu;
  padding-left: 1rem;
  padding-right: 1rem;

}

.Editor {
  grid-area: Editor;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.ui.menu .item > .label {
  background: #ddd;
};
