<div class="terms-of-service-container">
    <div class="Header">
      <app-header></app-header>
    </div>
    <div class="Footer">
      <app-footer></app-footer>
    </div>
    <div class="terms-of-service">
      <h2 class="ui center aligned icon header">
        <i class="circular book icon"></i>
        Terms of service
      </h2>
      <div class="gap"></div>
      <div class="ui questions list">
        Use of the terms "we", "us", "our" in this Terms of Service means CODYPASTE.
        "The User", "You", and "Your" refer to the individual person, company, or organization that has visited or is using the Website
        "Content" refer to the data uploaded using the Website.
        <div class="gap"></div>
        <div class="ui header">Content</div>
        We are not responsible for Content posted or shared via our Website. Nor are we under and duty to ensure non-infringment and compliance with other laws and regulations.
        1. Who may use the CODYPASTE service
        A User must be at least 13 years old.
        
        <div class="gap"></div>
        <div class="ui header">Privacy</div>
        
        Our Privacy Policy (privacy policy) describes how we handle the information you provide to us when you use our Website.
        You understand that through your use of the Website you consent to the collection and use (as set forth in the Privacy Policy) of this information.
          
      </div>
    </div>
  </div>
    