<div class="encryption-error-container">
  <div class="Header">  
    <app-header></app-header>
  </div>
  <div class="EncryptionErrorInfo">
    <div class="ui icon message">
      <i class="lock icon"></i>
      <div class="content">
        <div class="header">
          Encryption error
        </div>
        <p>Invalid or missing key for encrypted project. We were unable to decrypt it :(</p>
      </div>
    </div>
  </div>
  <div class="Footer">
    <app-footer></app-footer>
  </div>
</div>
